<div class="columnas-consultas">
  <aside class="filtros-consultas">
    <h1>Filtros:</h1>
    <div class="select">
      <select
        name="annio"
        id="annio"
        [(ngModel)]="annioSelected"
        (change)="cambiosFiltros()"
      >
        <option *ngFor="let annio of rangoAnnios" [ngValue]="annio">
          {{ annio }}
        </option>
      </select>
    </div>
    <div class="select">
      <select
        name="mes"
        id="mes"
        [(ngModel)]="mesSelected"
        (change)="cambiosFiltros()"
      >
        <option *ngFor="let mes of rangoMeses" [ngValue]="mes.idMes">
          {{ mes.nomMes }}
        </option>
      </select>
    </div>
    <button type="button" class="btn" (click)="getConsulta()">
      <i class="fa-solid fa-rotate"></i>
    </button>
    <button type="button" class="btn" (click)="exportToExcel()">
      <i class="fa-solid fa-file-excel"></i>
    </button>

    <hr />
    <input
      type="checkbox"
      name="check"
      [(ngModel)]="_todosSurtidores"
      id="todosSurtidores"
      (change)="todosSurtidores($event)"
    />
    <label for="todosSurtidores"> Seleccionar todos </label>

    <ul class="surtidores-filtro">
      <li *ngFor="let item of conPorSurtidorList" style="max-width: 90%">
        <input type="checkbox" name="check" [(ngModel)]="item.check" />
        <span>
          {{ item.surtidor }}
        </span>
      </li>
    </ul>
    <hr />
    <input
      type="checkbox"
      name="check"
      [(ngModel)]="_todosDias"
      id="todosDias"
      (change)="todosDias($event)"
    />
    <label for="todosDias"> Seleccionar todos </label>
    <ul class="surtidores-filtro">
      <li *ngFor="let item of conPorDiasList">
        <input type="checkbox" name="check" [(ngModel)]="item.check" />
        <span>
          {{ item.fechaOrigen | date: "dd/MM/yyyy" }}
        </span>
      </li>
    </ul>
  </aside>

  <div class="consultas-detalle">
    <table class="table-indicadores" id="tablaDetalle">
      <thead>
        <tr>
          <th>Folio</th>
          <th>Estatus</th>
          <th>Fecha</th>
          <th>Por Surtir</th>
          <th>Surtiendo</th>
          <th>Mostrador</th>
          <th>Total</th>
          <th>Articulo</th>
          <th>Surtidor</th>
          <th>Cliente</th>
          <th>Ventas</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of conGeneralList">
          <td>{{ item.folio }}</td>
          <td style="text-align: left">{{ item.statusText }}</td>
          <td style="width: 40px">{{ item.fecha | date: "dd/MM HH:mm" }}</td>
          <td>{{ item.porSurtir }}</td>
          <td>{{ item.surtiendo }}</td>
          <td>{{ item.mostrador }}</td>
          <td>{{ item.total }}</td>
          <td style="text-align: left">{{ item.descArticulo }}</td>
          <td style="text-align: left">{{ item.firstName }}</td>
          <td style="text-align: left">{{ item.socio }}</td>
          <td style="text-align: left">{{ item.SlpName }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
