<div class="content-catalogos">
  <div>
    <h1>Choose a book format</h1>
    <div class="select">
      <select name="format" id="format">
        <option selected disabled>Choose a book format</option>
        <option value="pdf">PDF</option>
        <option value="txt">txt</option>
        <option value="epub">ePub</option>
        <option value="fb2">fb2</option>
        <option value="mobi">mobi</option>
      </select>
    </div>
  </div>
  <div class="content-indicadores">
    <div class="consultas-indicadores"></div>
    <div class="consultas-indicadores"></div>
  </div>
</div>
